.empty_cart{
    margin-top:15%;
    font-family:sans-serif;
    font-weight: bold;
}

.cart_shop{
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    background-color:lightpink;
    color: rgb(7, 7, 7);
    margin-top: 5px;
}

.cart_shop:hover{
   background-color: black;
   color: white;
}

.cart_shop:active{
    color:black;
    background-color: lightblue;
}